fastapi 
uvicorn 
dotenv
langchain
langchain-core
langchain-chroma
langchain-community
langchain-groq
langchain-huggingface
langgraph
sqlmodel
pydantic[email]
PyJWT
passlib[argon2]
psycopg[binary]
tavily-python
python-multipart
sentence-transformers
psycopg-binary
pymupdf
langgraph-checkpoint-postgres
psycopg2-binary
langsmith